<link rel="stylesheet" href="/style.css">

<div class="container">
  <h2>Chat com IA</h2>

  <div id="chat" class="chat-box"></div>

  <input type="text" id="mensagem" placeholder="Digite sua mensagem...">
  <button onclick="enviar()">Enviar</button>

  <br><br>
  <a href="/">Voltar</a>
</div>

<script>
function enviar() {
    let msg = document.getElementById("mensagem").value;

    fetch('/mensagem_ia', {
        method: 'POST',
        headers: {'Content-Type': 'application/x-www-form-urlencoded'},
        body: 'mensagem=' + encodeURIComponent(msg)
    })
    .then(response => response.text())
    .then(data => {
        let chat = document.getElementById("chat");
        chat.innerHTML += "<div class='user'>Você: " + msg + "</div>";
        chat.innerHTML += "<div class='bot'>IA: " + data + "</div>";
        chat.scrollTop = chat.scrollHeight;
    });

    document.getElementById("mensagem").value = "";
}
</script>